[MASTER]
# Ignore test directories
ignore = venv, .git, __pycache__

# Disable specific checks for test files
[MASTER_OPTIONS]
ignore-patterns=^test_.*\.py$

[DESIGN]
# Disable protected-access warning for test files and redefined-outer-name
disable = protected-access,
           redefined-outer-name
